<h1 class="text-center text-dark bg-white">
    Covid-19 Vaccine Registration Portal
  </h1>
  <div class="login-form">
    <form action="/getcertificate" method="get">
      <h2 class="text-center">Generate Certificate for <%- NID %></h2>
      
      
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          onclick="onClick(event)"
        >
          Get Certificate
        </button>
      </div>
    </form>
    <p class="text-center">
      <a href="/register">Create an Account</a>
    </p>
  </div>
  